* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #f0f2f5;
  color: #5f5f5f;
}
a {
  text-decoration: none;
  color: #5f5f5f;
}

.hidden--container {
  display: none;
}

/* -----NAVIGATION---- */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  padding: 6px 6px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.logo img {
  width: 30px;
  margin-right: 15px;
  display: block;
}
.navbar-center ul li {
  display: inline-block; /*displays the list elements in a line*/
  list-style: none;
}
.navbar-center ul li a {
  display: flex; /*span the image and image text*/
  align-items: center;
  font-size: 14px;
  margin: 5px 8px;
  padding-right: 5px;
  position: relative; /*so that the blue line is below each menu link*/
}
.navbar-center ul li a img {
  /*menu icons*/
  width: 30px;
}

.navbar-center ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #045be6;
  position: absolute;
  bottom: -15px;
  transition: width 0.3s; /*smooth transition in width increase in 0.3s*/
}
.navbar-center ul li a:hover::after,  /*show blue underline on hover*/
.navbar-center ul li a.active-link::after /*so that the blue line appears initally under the home menu*/ {
  width: 100%;
}
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -8rem;
}
.nav-profile-img {
  width: 40px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;
}
#grid {
  margin-left: 1rem;
}
#grid:hover {
  cursor: pointer;
}
.online {
  position: relative;
}
.online::after {
  /*for the green online dot*/
  content: "";
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  right: 0px;
  top: 0px;
  background: #41db51;
  position: absolute; /*so that it appears above the image*/
}

.search-box {
  background: #f0f2f5;
  width: 250px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.search-box img {
  width: 14px;
}
.search-box input {
  width: 100%; /*width of input box equlas the div*/
  background: transparent;
  padding: 8px;
  outline: none;
  border: none;
}

/* ----------NAVIGATION END--------- */

.container {
  padding: 20px 6%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ---------left side bar--------- */
.left-sidebar {
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 73px;
}
.sidebar-profile-box {
  background: #fff;
  border-radius: 0.625rem;
}
.sidebar-profile-info {
  padding: 0 25px;
}
.sidebar-profile-info img {
  width: 90px;
  border-radius: 50%;
  background: #fff;
  padding: 4px; /*white border around image*/
  margin-top: -45px; /*move image up by 50% half width of img*/
}
.sidebar-profile-info h1 {
  font-size: 20px;
  font-weight: 600;
  color: #222;
}
.sidebar-profile-info h3 {
  font-size: 14px;
  font-weight: 500; /*semi bold*/
  color: #777;
}
.sidebar-profile-info ul {
  list-style: none;
  margin: 20px 0;
}
.sidebar-profile-info ul li {
  width: 100%;
  margin: 5px 0;
  font-size: 13px;
}
.sidebar-profile-info ul li span {
  float: right; /*numbers go to the right side*/
  color: #045be6;
}
.sidebar-profile-link {
  display: flex;
  align-items: center;
  /* border-top: 1px solid #ccc; */
}
.sidebar-profile-link a {
  flex-basis: 50%; /*50% space for both links*/
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  font-size: 13px;
  border-left: 1px solid #ccc;
}
.sidebar-profile-link a:hover {
  background-color: rgb(235, 234, 234);
  transition: 0.2s;
}
.sidebar-profile-link a:first-child {
  /*selects the first link to remove the line on its left*/
  border-left: 0;
}
.sidebar-profile-link a img {
  width: 20px;
  margin-right: 10px;
}
.sidebar-activity {
  border-radius: 0.625rem;
  background: #fff;
  padding: 5px 12px;
  margin: 12px 0;
}
.sidebar-activity h3 {
  color: #777;
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0 10px;
}
.sidebar-activity a {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #888;
  margin: 0.8rem 0;
  font-weight: 500;
  font-size: 0.9rem;
  color: #045be6;
}
.sidebar-activity a:hover {
  text-decoration: underline;
}
.discover-more-link {
  border-top: 1px solid #ccc;
  text-align: center;
  margin-top: 20px;
  margin-left: -12px;
  margin-right: -12px; /*we hava 12px margin in the div so -12 px so that the border doesnt flow out of the white box*/
}
.discover-more-link a {
  color: #045be6;
  display: inline-block; /*centers the link*/
  margin: 10px 0;
}

/* ---------right side bar--------- */
.right-sidebar {
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 73px;
}
.sidebar-news {
  background: #fff;
  padding: 10px 25px;
  border-radius: 0.625rem;
}
.info-icon {
  width: 15px;
  float: right; /*throw it to the right side*/
  margin-top: 15px;
}
.sidebar-news h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 10px 0 20px;
}
.sidebar-news a {
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: -5px;
}
.sidebar-news span {
  font-size: 12px;
}
.sidebar-news .read-more-link {
  color: #045be6;
  font-weight: 500;
  margin: 20px 0 10px;
}
.sidebar-ad {
  background: #fff;
  padding: 15px 25px;
  text-align: center;
  margin: 12px 0;
  font-size: 12px;
  border-radius: 0.625rem;
}
.sidebar-ad img {
  width: 60px;
  border-radius: 50%;
  margin: 4px;
}
.sidebar-ad small {
  float: right;
  font-weight: 500;
}
.sidebar-ad p {
  margin-top: 30px;
  margin-bottom: 10px;
}
.sidebar-ad b {
  display: block;
  font-weight: 500;
  margin-top: 10px;
}
.ad-link {
  display: inline-block;
  border: 1px solid #045be6;
  border-radius: 30px;
  padding: 5px 15px;
  color: #045be6;
  font-weight: 500;
  margin: 20px auto 10px; /*20 from top auto from left and right 10 from bottom*/
}
.sidebar-useful-links {
  padding: 15px 25px;
  text-align: center;
}
.sidebar-useful-links a {
  display: inline-block; /*to make the list go horizontal*/
  font-size: 14px;
  margin: 4px 2px;
}
.copyright-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 500;
}
.copyright-msg img {
  width: 18px;
  margin-right: 4px;
}

/* --------main content------ */
.main-content {
  flex-basis: 47%; /*3% left for space*/
}
.create-post {
  background: #fff;
  border-radius: 0.625rem;
}
.create-post-input {
  padding: 20px 25px 10px;
  display: flex;
  align-items: flex-start;
}
.create-post-input img {
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.create-post-input .textarea {
  width: 100%;
  /* outline: 0; */
  border: 1px solid gray;
  border-radius: 2rem;
  padding: 0.6rem 0.5rem;
  resize: none;
  background: transparent;
  margin-top: -0.2rem;
  padding-left: 1rem;
}
.textarea:hover {
  color: black;
  background-color: rgb(241, 238, 238);
  cursor: pointer;
}
.create-post-links {
  display: flex;
  align-items: flex-start;
}
.create-post-links li {
  list-style: none;
  /* border-top: 1px solid #ccc; */
  /* border-right: 1px solid #ccc; */
  flex-basis: 25%;
  height: 40px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.create-post-links li:hover {
  background-color: lightgray;
  transition: 0.4s;
}
.create-post-links li img {
  width: 18px;
  margin-right: 0.8rem;
}
.create-post-links li:last-child {
  /* background: #045be6; */
  /* color: #fff; */
  border-top: 0;
  border-right: 0;
}
.sort-by {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.sort-by hr {
  flex: 1; /*so that it occupies the entire space available*/
  border: 0;
  height: 1px;
  background: #ccc;
}
.sort-by p {
  font-size: 13px;
  padding-left: 5px;
}
.sort-by p span {
  font-weight: 600;
  cursor: pointer;
}
.sort-by p span img {
  width: 12px;
  margin-left: 3px;
}

.post {
  background: #fff;
  padding: 20px 25px 5px;
  margin: 5px 0 15px;
  border-radius: 0.625rem;
}
.post-author {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.post-author img {
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}
.post-author h1 {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}
.post-author small {
  display: block;
  margin-bottom: -2px;
}
.post p {
  font-size: 14px;
  margin-bottom: 15px;
}
.post-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
}
.post-stats div {
  display: flex;
  align-items: center;
}
.post-stats img {
  width: 15px;
  margin-right: -5px;
}
.liked-user {
  margin-left: 10px;
}

.post-activity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
}
.post-activity div {
  display: flex;
  align-items: center;
}
.post-activity-user-icon {
  width: 25px;
  border-radius: 50%;
}
.post-activity-arrow-icon {
  width: 12px;
  margin-left: 5px;
}
.post-activity-link img {
  width: 18px;
  margin-right: 8px;
}
/* -----------LEFT AT 05:20:44--------- */

/* -----profile dropdown menu--- */
.profile-menu-wrap {
  position: absolute; /*comes on top of the nav bar*/
  top: 100%;
  right: 5%; /*appears in top right corner just below the navigation bar*/
  width: 320px;
  max-height: 0; /*hidden initially*/
  overflow: hidden;
  transition: max-height 0.5s;
}
.profile-menu-wrap.open-menu {
  max-height: 500px;
}
.profile-menu {
  display: flex;
  flex-direction: column;
  background: #fff;
  color: black;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
}
.user-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.user-info img {
  width: 3rem;
  border-radius: 50%;
}
.user-info p {
  margin-left: 1rem;
  font-size: 1rem;
}
.user-info span {
  font-weight: bold;
  font-size: 1.1rem;
}
.profile-menu button {
  padding: 0.3rem 0;
  border-radius: 2rem;
  outline: none;
  border: 2px solid #045be6;
  background: transparent;
  color: #045be6;
  font-weight: 550;
}
.profile-menu button a {
  color: #045be6;
}
.profile-menu button:hover {
  background-color: #d8e0ee;
  cursor: pointer;
}
.account {
  margin-top: 0.7rem;
}
.account ul li {
  list-style: none;
  font-size: 0.8rem;
  margin: 0.3rem 0;
}
.account ul li:hover {
  cursor: pointer;
  font-weight: 550;
}
.account ul :first-child {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.sign-out:hover {
  cursor: pointer;
}
/* -----------PROFILE PAGE---------- */
.profile-main {
  flex-basis: 73%;
}
.profile-sidebar {
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 73px;
}

.profile-container {
  background: #fff;
}
.profile-container-inner {
  padding: 0 4% 10px;
}
.profile-pic {
  width: 150px;
  border-radius: 50%;
  margin-top: -75px;
  padding: 5px;
  background: #fff;
}
.profile-container h1 {
  font-size: 28px;
  font-weight: 600;
  color: #222;
  margin-bottom: 5px;
}
.profile-container b {
  font-weight: 500;
}
.profile-container p {
  margin-top: 5px;
}
.profile-container p a {
  color: #045be6;
  font-weight: 500;
}

.mutual-connection {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.mutual-connection img {
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.profile-btn {
  margin: 20px 0;
}
.profile-btn a {
  display: inline-flex;
  align-items: center;
  background: #e4e6eb;
  padding: 6px 15px;
  border-radius: 4px;
  margin-right: 10px;
}
.profile-btn a img {
  width: 18px;
  margin-right: 5px;
}
.profile-btn .primary-btn {
  background: #045be6;
  color: #fff;
}

.profile-description {
  background: #fff;
  padding: 20px 4% 30px;
  margin: 12px 0;
}
.profile-description h2 {
  color: #333;
  margin: 10px 0 20px;
  font-weight: 600;
}
.see-more-link {
  display: block;
  text-align: right;
  font-size: 15px;
}

.profile-desc-row {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}
.profile-desc-row img {
  width: 50px;
  margin-right: 25px;
  margin-top: 5px;
}
.profile-desc-row div {
  width: 100%;
}
.profile-desc-row h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.profile-desc-row b {
  display: block;
  font-weight: 500;
  font-size: 15px;
}
.profile-desc-row p {
  margin-top: 15px;
}
.profile-desc-row hr {
  border: 0;
  border-bottom: 1px solid #999;
  margin-top: 10px;
}
.experience-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-weight: 500;
}
.experience-link img {
  width: 20px;
  margin-left: 10px;
}

.skills-btn {
  display: inline-block;
  margin: 10px 5px;
  padding: 6px 18px;
  border: 1px solid #777;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
}
.language-btn {
  display: inline-block;
  margin: 10px 5px;
  padding: 6px 18px;
  border: 1px solid #777;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
}

/* --------right sidebar profile page ----------- */
.profile-sidebar .sidebar-ad {
  margin: 0;
}

.sidebar-people {
  background: #fff;
  padding: 15px 25px;
  margin: 12px 0;
  font-size: 12px;
}
.sidebar-people h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0 20px;
}
.sidebar-people-row {
  display: flex;
  align-items: flex-start;
  margin: 6px 0;
}
.sidebar-people-row img {
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 5px;
}
.sidebar-people-row h2 {
  font-weight: 500;
  font-size: 16px;
}
.sidebar-people-row a {
  display: inline-block;
  margin: 10px 0;
  padding: 5px 25px;
  border: 1px solid #5f5f5f;
  border-radius: 30px;
  font-weight: 500;
}

.profile-footer {
  padding: 0 6% 30px;
}
.profile-footer .sidebar-useful-links {
  text-align: left;
  padding: 0;
}
.profile-footer .copyright-msg {
  justify-content: flex-start;
}
#showMoreLink {
  display: none;
}

/* .home-container{
    display: none;
} */

/* ---------MODAL WINDOWS-------- */
.modal {
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35em;
  height: 20rem;
  background-color: #f5efef;
  padding: 20px 35px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.modal-job {
  height: 22rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}
.modal-element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background: gray; */
  padding: 10px 5px;
  margin-bottom: 15px;
}
.modal-head {
  justify-content: space-between;
}
.modal-head h3 {
  font-weight: 600;
}
.modal-body {
  color: #045be6;
  padding: 60px 0;
}
.modal-body-job {
  padding: 0;
  margin: 0;
  justify-content: start;
}
.modal-foot {
  justify-content: end;
}
.modal-foot-btn {
  color: #045be6;
  padding: 5px 10px;
  background: transparent;
  outline: none;
  border: 2px solid #045be6;
  border-radius: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.modal-foot-btn:hover {
  background: #045be6;
  color: white;
  transition: 0.5s;
}
.job-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.job-form div {
  display: flex;
  padding: 8px 0;
}
.job-form div label {
  flex-basis: 30%;
  margin-right: 20px;
}
.job-form div input {
  border: none;
  outline: none;
  border-radius: 40px;
  flex-basis: 60%;
  width: 100%;
  padding: 5px 5px;
}
.job-form div select {
  border: none;
  outline: none;
  border-radius: 40px;
  flex-basis: 60%;
  width: 100%;
  padding: 3px 3px;
}
.job-form div select option {
  padding: 5px 3px;
  border: none;
  outline: none;
}

.modal__header {
  padding: 10px 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-bottom: 5px solid black;
}
.modal__header h3 {
  display: inline;
  flex-basis: 50%;
}
.btn--close-modal {
  color: black;
  /* position: absolute; */
  cursor: pointer;
  border: none;
  background: none;
  font-size: 40px;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
/* ---start post modal---- */
.modal-start-post {
  width: 45rem;
  height: 30rem;
  top: 40%;
}
.modal-user-info {
  padding: 0.8rem;
  border-radius: 1rem;
}
.modal-user-info:hover {
  cursor: pointer;
  background-color: lightgray;
  transition: 0.3s;
}
.startPostText {
  width: 100%;
  height: 100%;
  margin: 0;
  background: transparent;
  outline: none;
  padding: 1rem;
  margin-top: -8rem;
  border: none;
  resize: none;
  /* float: left; */
}
.startPostText::placeholder {
  font-size: 1rem;
}
.startPostFoot ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.startPostFoot ul li {
  list-style: none;
  display: inline-block;
  margin-right: 1rem;
  padding: 0.7rem;
  border-radius: 50%;
}
.startPostFoot ul li:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
  transition: 0.2s;
  cursor: pointer;
}
.startPostFoot ul li img {
  width: 1.8rem;
}
.startPostFoot ul li span {
  z-index: 5;
  position: absolute;
  background-color: lightgray;
  padding: 0.4rem 0.5rem;
  border-radius: 0.625rem;
  transform: translateY(-3rem);
  /* transform: translateX(-0.5remx); */
  visibility: hidden;
}
.btn-post {
  padding: 0.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-radius: 2rem;
  outline: none;
  border: 2px solid gray;
  width: 6rem;
  /* float: right; */
  align-self: center;
  margin-left: 80%;
}
.btn-post:hover {
  background-color: #045be6;
  color: #fff;
  font-weight: 600;
  transition: 0.2s;
  cursor: pointer;
}
/* ---start post modal---- */
/* ----------MODAL WINDOWS-------- */

/* ---------MAKING RESPONSIVE---- media query for small screen */
@media only screen and (max-width: 600px) {
  /*applicable for small screen whose maximun width is 600px*/
  /* make the search bos invisible */
  .search-box {
    background: transparent;
    width: auto;
    padding: 0;
  }
  .search-box input {
    width: 0;
    padding: 0;
  }
  .navbar-left {
    margin-left: -3rem;
  }
  .navbar-center ul li a span {
    /*remove the links name*/
    display: none;
  }
  .navbar-center ul li a {
    padding-right: 0;
    margin-right: 5px;
  }
  .navbar-center {
    margin-left: -8rem;
    transform: scale(0.95);
  }
  .navbar-right {
    transform: scale(0.95);
    margin-right: -3rem;
  }
  .nav-profile-img {
    width: 30px;
  }
  .container {
    padding: 15px 6px;
  }
  .left-sidebar,
  .right-sidebar {
    flex-basis: 100%; /*so that it is displayed in full width*/
    position: relative; /*was sticky*/
    top: unset; /*it will now not be fixed and will scroll*/
  }
  .main-content {
    flex-basis: 100%;
  }
  .post-stats div {
    margin: 2px 0;
  }
  .post-activity-link span {
    /*remove the text of like comment and share*/
    display: none;
  }
  .post-activity-link img {
    margin-right: 0;
  }

  /* -------profile page----- */
  .profile-main,
  .profile-sidebar {
    flex-basis: 100%; /*occupy full width*/
  }
  .profile-container {
    font-size: 14px;
  }
  .profile-pic {
    width: 100px;
    margin-top: -50px;
  }
  .profile-description {
    font-size: 14px;
  }

  #showMoreLink {
    display: block;
    width: fit-content;
    margin: 10px auto;
    font-size: 14px;
    cursor: pointer;
  }
  .sidebar-activity {
    display: none;
  }
  .sidebar-activity .open-activity {
    display: block;
  }

  .modal {
    width: 80%;
  }
  .modal-body-job {
    margin-top: -1.8rem;
    transform: scale(0.9);
  }
  .modal-start-post {
    left: 0;
    top: 0;
    transform: scale(0.6);
    width: 75vh;
    margin-left: -2rem;
    /* width: 70vh; */
    /* height: 50vh; */
  }
  .main-content-home {
    margin-top: -4rem;
  }
}
